body{
  margin: 0;
}

a{
  color: black
}

.whitebar{
  height: 150px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  /*position: fixed;*/
  z-index: 10000;
}
.home_button{
  height: 50px;
  width: 210px;
  background-image: url('photos/home.png');
  background-size: cover;
  z-index: 10;
  /*position: fixed;*/
  position: absolute;
  top: 50px;
  left: 50px;
}

.profilepic{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: blue;
  /*position: fixed;*/
  position: absolute;
  left: 600px;
  top: 25px;
  z-index: 10;
  background-image: url('photos/profile.jpg');
  background-size: cover;
}

p{
  z-index: 10001;
  position: absolute;
  /*position: fixed;*/
  font-family: sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: bold;
  width: 200px;
  left: 120px;
  top: 30px;
}

.icons{
  /*background-color: pink;*/
  height: 50px;
  width: 200px;
  left: 1100px;
  top: 50px;
  /*position: fixed;*/
  z-index: 10;
  position: absolute;
}

#upload{
  height: 50px;
  width: 50px;
  background-image: url('photos/upload.jpg');
  background-size: cover;
  z-index: 10001;
  float: left;
}
#graph{
  height: 50px;
  width: 50px;
  background-image: url('photos/graph.jpg');
  background-size: cover;
  z-index: 10001;
  float: left;
}
#discover{
  height: 50px;
  width: 50px;
  background-image: url('photos/discover.jpg');
  background-size: cover;
  z-index: 10001;
  float: left;
}
/*#share{
  height: 50px;
  width: 50px;
  background-image: url('photos/share.jpg');
  background-size: cover;
  z-index: 10001;
  float: left;
}*/

.pictures{
  top: 170px;
  height: 800px;
  width: 100%;
  position: absolute;
  z-index:100;
}

#moon{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/moon.jpg');
}
#nude{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/nude.jpg');
}
#hands{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/hands.jpg');
}
#face{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/face.jpg');
}
#color{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/color.jpg');
}
#tree{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/tree.jpg');
}
#painting{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/painting.jpg');
}
#sketch{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/sketch.jpg');
}
#ballet{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/ballet.jpg');
}
#dance{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/dance.jpg');
}
#felt{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/felt.jpg');
}
#finley_window{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/finley_window.jpg');
}
#eyes{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/eyes.jpg');
}
#palm{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/plam.jpg');
}
#plants{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/plants.jpg');
}
#taza{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/taza.jpg');
}

#sketch:hover{
  filter: brightness(1.1);
  opacity: .8;
}
#moon:hover{
  filter: brightness(1.1);
  opacity: .8;
}
#nude:hover{
  filter: brightness(1.1);
  opacity: .8;
}
#hands:hover{
  filter: brightness(1.1);
  opacity: .8;
}
#face:hover{
  filter: brightness(1.1);
  opacity: .8;
}
#color:hover{
  filter: brightness(1.1);
  opacity: .8;
}
#tree:hover{
  filter: brightness(1.1);
  opacity: .8;
}
#painting:hover{
  filter: brightness(1.1);
  opacity: .8;
}
#eyes:hover{
  filter: brightness(1.1);
  opacity: .8;
}
#palm:hover{
  filter: brightness(1.1);
  opacity: .8;
}
#plants:hover{
  filter: brightness(1.1);
  opacity: .8;
}
#taza:hover{
  filter: brightness(1.1);
  opacity: .8;
}
#ballet:hover{
  filter: brightness(1.1);
  opacity: .8;
}
#dance:hover{
  filter: brightness(1.1);
  opacity: .8;
}
#felt:hover{
  filter: brightness(1.1);
  opacity: .8;
}
#finley_window:hover{
  filter: brightness(1.1);
  opacity: .8;
}
