body{
  margin: 0;
  overflow-y: hidden; // hide vertical
  overflow-x: hidden; // hide horizontal
}

a{
  color: black;
  text-decoration: none;
}
.god{
  height: 1700px;
  width: 100%;
  /*background-color: red;*/
  position: absolute;
  opacity: .1;
}
.image{
  height: 600px;
  width: 500px;
  background-color: pink;
  position: absolute;
  z-index: 1000;
  left: 400px;
  top:100px;
  background-image: url('photos/lahki.png');
  background-size: cover;
}
.close{
  font-family: sans-serif;
  color: coral;
  font-weight: bolder;
  font-size: 30px;
  left: 350px;
  top: 80px;
  position: absolute;
  z-index: 1000;
}
#Q1_text{
  font-weight: normal;
  font-size: 12px;
  font-family: sans-serif;
  color: white;
  position: absolute;
  z-index: 2000;
  left: 940px;
  top: 110px;
}
#Q2_text{
  font-weight: normal;
  font-size: 12px;
  font-family: sans-serif;
  color: white;
  position: absolute;
  z-index: 2000;
  left: 940px;
  top: 360px;
}
#Q3_text{
  font-weight: normal;
  font-size: 12px;
  font-family: sans-serif;
  color: white;
  position: absolute;
  z-index: 2000;
  left: 940px;
  top: 448px;
}
#Q4_text{
  font-weight: normal;
  font-size: 12px;
  font-family: sans-serif;
  color: white;
  position: absolute;
  z-index: 2000;
  left: 940px;
  top: 538px;
}

.Q1{
height: 230px;
width: 150px;
background-color: rgb(205, 204, 207);
position: absolute;
z-index: 1000;
left: 930px;
top: 100px;

}
.Q2{
height: 75px;
width: 150px;
background-color: rgb(205, 204, 207);
position: absolute;
z-index: 1000;
left: 930px;
top: 350px;

}
.Q3{
  height: 75px;
  width: 150px;
  background-color: rgb(205, 204, 207);
  position: absolute;
  z-index: 1000;
  left: 930px;
  top: 440px;
}
.Q4{
  height: 75px;
  width: 150px;
  background-color: rgb(205, 204, 207);
  position: absolute;
  z-index: 1000;
  left: 930px;
  top: 530px;
}
#submit{
  height: 45px;
  width: 150px;
  left: 930px;
  top: 620px;
  background-color: coral;
  position: absolute;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 25px;
  color: white;
  text-align: center;
  padding-top: 18px;
  z-index: 1000;
  opacity: .8;
}

#buttons{
  height: 200px;
  width: 120px;
  /*background-color: red;*/
  float: left;
  padding-top: 40px;
  padding-left: 20px;
  font-family: sans-serif;
  color: grey;
  font-size: 11px;
}
#buttons2{
  height: 75px;
  width: 150px;
  /*background-color: red;*/
  float: left;
  padding-top: 40px;
  padding-left: 20px;
  font-family: sans-serif;
  color: grey;
  font-size: 11px;
}




.whitebar{
  height: 150px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  /*position: fixed;*/
  z-index: 10000;
}
.home_button{
  height: 50px;
  width: 210px;
  background-image: url('photos/home.png');
  background-size: cover;
  z-index: 10;
  /*position: fixed;*/
  position: absolute;
  top: 50px;
  left: 50px;
}

.profilepic{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: blue;
  /*position: fixed;*/
  position: absolute;
  left: 600px;
  top: 25px;
  z-index: 10;
  background-image: url('photos/profile.jpg');
  background-size: cover;
}

p{
  z-index: 10001;
  position: absolute;
  /*position: fixed;*/
  font-family: sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: bold;
  width: 200px;
  left: 120px;
  top: 30px;
}

.icons{
  /*background-color: pink;*/
  height: 50px;
  width: 200px;
  left: 1100px;
  top: 50px;
  /*position: fixed;*/
  z-index: 10;
  position: absolute;
}

#upload{
  height: 50px;
  width: 50px;
  background-image: url('photos/upload.jpg');
  background-size: cover;
  z-index: 10001;
  float: left;
}
#graph{
  height: 50px;
  width: 50px;
  background-image: url('photos/graph.jpg');
  background-size: cover;
  z-index: 10001;
  float: left;
}
#discover{
  height: 50px;
  width: 50px;
  background-image: url('photos/discover.jpg');
  background-size: cover;
  z-index: 10001;
  float: left;
}
/*#share{
  height: 50px;
  width: 50px;
  background-image: url('photos/share.jpg');
  background-size: cover;
  z-index: 10001;
  float: left;
}*/

.pictures{
  top: 170px;
  height: 800px;
  width: 100%;
  position: absolute;
  z-index:100;
}

#moon{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/moon.jpg');
}
#nude{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/nude.jpg');
}
#hands{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/hands.jpg');
}
#face{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/face.jpg');
}
#color{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/color.jpg');
}
#tree{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/tree.jpg');
}
#painting{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/painting.jpg');
}
#sketch{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/sketch.jpg');
}
#ballet{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/ballet.jpg');
}
#dance{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/dance.jpg');
}
#felt{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/felt.jpg');
}
#finley_window{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/finley_window.jpg');
}
#eyes{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/eyes.jpg');
}
#palm{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/plam.jpg');
}
#plants{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/plants.jpg');
}
#taza{
  height: 359px;
  width: 359px;
  border-radius: 2%;
  background-color: red;
  float: left;
  background-size: cover;
  background-image: url('photos/taza.jpg');
}
